
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
:focus {
    outline: 0 none;
}
ol, ul {
    list-style: outside none none;
}
caption {
    font-weight: normal;
    text-align: left;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: 0 none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
}
body {
    color: #555555;
    font-family: "ヒラガナ角ゴ PronN W3","Hiragino Kaku Gothic ProN",Verdana,Roboto,"Droid Sans","遊ゴシック",YuGothic,"メイリオ",Meiryo,sans-serif;
    font-size: 12px;
    position: relative;
    -webkit-text-size-adjust: none;
}
input{
    -webkit-appearance: none;
}

/*vote*/
.ratings_stars {
    background: url(../images/200/start.png) no-repeat;
    float:      left;
    height:     30px;
    padding:    0;
    width:      32px;
    margin-right: 4px;
}
.ratings_over {
    background: url(../images/200/start-active.png) no-repeat;
}
.ratings_hover {
    background: url(../images/200/start-hover.png) no-repeat;
}
.p9-np .ratings_stars{
    height:     20px;
    width:      22px;
    background: url(../images/200/start.png)no-repeat;
    background-size: 22px;
}
.p9-np .ratings_over {
    background: url(../images/200/start-active.png) no-repeat;
    background-size: 22px;
}
.p9-np .ratings_hover {
    background: url(../images/200/start-hover.png) no-repeat;
    background-size: 22px;
}
.p9-np .rate-np {
    font-size: 16px;
    color: #c89805;
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 0px;
    vertical-align: top;
}
.p2-np .ratings_stars{
    height:     15px;
    width:      16px;
    background: url(../images/200/start.png) no-repeat;
    background-size: 16px;
    float: left !important;
}
.p2-np .ratings_over {
    background: url(../images/200/start-active.png) no-repeat;
     background-size: 16px;
}
.p2-np .ratings_hover {
    background: url({../images/200/start-hover2.png) no-repeat;
    background-size: 16px;
}
.p2-np .rate-np {
    font-size: 12px;
    color: #c89805;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    margin-top: 0px;
    vertical-align: top;
}
.listR .p2-np div{
    float: right;
}
.p1-np .ratings_stars{
    height:     15px;
    width:      16px;
    background: url(/images/200/start.png) no-repeat;
    background-size: 16px;
    float: left !important;
    margin-right: 3px;
}
.p1-np .ratings_over {
    background: url(../images/200/start-active.png) no-repeat;
     background-size: 16px;
}
.p1-np .ratings_hover {
    background: url(../images/200/start-hover2.png) no-repeat;
    background-size: 16px;
}
.p1-np .rate-np {
    font-size: 12px;
    color: #c89805;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    margin-top: 2px;
    vertical-align: top;
}
.Kids li .p1-np div{
    float: right;
    margin-top: 2px;
}
.rate .ratings_stars{
    cursor: pointer;    
    height:     15px;
    width:      16px;
    background: url( ../images/200/start2.png ) no-repeat;
    background-size: 16px;
    float: left !important;
    margin-right: 4px;
}
.rate .ratings_over {
    background: url(../images/200/start-active2.png ) no-repeat;
     background-size: 16px;
}
.rate .ratings_hover {
    background: url(../images/200/start-hover2.png) no-repeat;
    background-size: 16px;
}
.rate .vote{
    display: inline-block;
}
.rate .rate-np {
    font-size: 12px;
    color: #c89805;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    margin-top:0px;
    vertical-align: top;
}

input::-moz-placeholder {
    color: #333;
}
input:-ms-input-placeholder {
    color: #333;
}
input::-webkit-input-placeholder {
     color: #333;
}

select{
    color: #333 !important;
}
